version: 2
jobs:
  build trial:
    docker:
      - image: dlanguage/dmd:2.079.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev git
      - run: git clone https://github.com/gedaiu/trial.git
      - run: cd trial && dub build :runner --verbose
      - run: mv trial/trial /usr/local/bin/trial
      - run: trial
      - run: ls -lsah .
      - run: ls -lsah /root/project/
      - run: ls -lsah /root/project/.trial
      - run: ls -lsah /root/project/.trial/xunit
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages
          paths:
            - /root/.dub
      - persist_to_workspace:
          root: /
          paths:
            - usr/local/bin/trial

  ldc-1.2:
    docker:
      - image: dlanguage/ldc:1.2.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  ldc-1.3:
    docker:
      - image: dlanguage/ldc:1.3.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  ldc-1.4:
    docker:
      - image: dlanguage/ldc:1.4.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  ldc-1.5:
    docker:
      - image: dlanguage/ldc:1.5.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  ldc-1.6:
    docker:
      - image: dlanguage/ldc:1.6.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: ./.circleci/other.sh
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  ldc-1.7:
    docker:
      - image: dlanguage/ldc:1.7.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  ldc-1.8:
    docker:
      - image: dlanguage/ldc:1.8.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  ldc-latest:
    docker:
      - image: dlanguage/ldc:latest
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub

  dmd-2.072:
    docker:
      - image: dlanguage/dmd:2.072.2
    steps:
      - checkout
      - restore_cache:
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub

  dmd-2.073:
    docker:
      - image: dlanguage/dmd:2.073.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  dmd-2.074:
    docker:
      - image: dlanguage/dmd:2.074.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  dmd-2.075:
    docker:
      - image: dlanguage/dmd:2.075.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  dmd-2.076:
    docker:
      - image: dlanguage/dmd:2.076.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  dmd-2.077:
    docker:
      - image: dlanguage/dmd:2.073.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  dmd-2.078:
    docker:
      - image: dlanguage/dmd:2.073.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub
  dmd-2.079:
    docker:
      - image: dlanguage/dmd:2.079.0
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub

  dmd-latest:
    docker:
      - image: dlanguage/dmd:latest
    steps:
      - checkout
      - restore_cache:
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          key: dub-packages
      - attach_workspace:
          at: /
      - run: apt-get update
      - run: apt-get install -y libevent-dev libssl-dev
      - run: trial
      - store_test_results:
          path: /root/project/.trial/xunit
      - save_cache: 
          key: dub-packages-{{ .Environment.CIRCLE_JOB }}
          paths:
            - /root/.dub

workflows:
  version: 2
  tests:
    jobs:
      - build trial
      - ldc-1.2:
          requires:
            - build trial
      - ldc-1.3:
          requires:
            - build trial
      - ldc-1.4:
          requires:
            - build trial
      - ldc-1.5:
          requires:
            - build trial
      - ldc-1.6:
          requires:
            - build trial
      - ldc-1.7:
          requires:
            - build trial
      - ldc-1.8:
          requires:
            - build trial
      - ldc-latest:
          requires:
            - build trial
      - dmd-2.072:
          requires:
            - build trial
      - dmd-2.073:
          requires:
            - build trial
      - dmd-2.074:
          requires:
            - build trial
      - dmd-2.075:
          requires:
            - build trial
      - dmd-2.076:
          requires:
            - build trial
      - dmd-2.077:
          requires:
            - build trial
      - dmd-2.078:
          requires:
            - build trial
      - dmd-latest:
          requires:
            - build trial
