# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: D

on: [push, pull_request]

jobs:
  test:
    name: Trial Tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        dc: [ldc-latest, dmd-latest, dmd-2.104.0, dmd-2.100.0, ldc-1.35.0, ldc-1.30.0]
        exclude:
          - os: macos-latest
            dc: dmd-latest
          - os: macos-latest
            dc: dmd-2.104.0
          - os: macos-latest
            dc: dmd-2.100.0

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install D compiler
        uses: dlang-community/setup-dlang@v2
        with:
          compiler: ${{ matrix.dc }}

      - name: Run tests
        run: dub run trial:runner
